* {
    font-family: tahoma;
}
h1, h2 {
    text-align: center;
}
.stands-box {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
a {
    text-decoration: none;
    color: black;
}
.stand-box {
    width: 320px;
    margin: 100px 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
}
.img-box {
    width: 100%;
}
.title-box {
    font-weight: 700;
    text-align: center;
}
img {
    width: 100%;
}
